body {
    font-family: sans-serif;
    font-size: 1.25rem;
    color: hsl(53, 9%, 17%);
}

a{
    color: hsl(249, 73%, 36%);
    text-decoration: underline;
}

a:hover,
a:active,
a:focus{
    color: hsl(249, 73%, 56%);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.3;
}

h1{ 
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

p{
    max-width: 80ch;
    line-height: 1.5;
    margin-bottom: 2rem;
}

section{
    margin-top: 6rem;
    margin-bottom: 1rem;
}

aside{
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden a:focus,
.visually-hidden input:focus,
.visually-hidden button:focus {
    position: static;
    width: auto;
    height: auto;
}

.container{
    width: 100%;
    max-width: 80rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container__small{
    max-width: 64rem;
}

.mt-min{
    margin-top: 0;
}

@media(min-width: 44rem){
    h1, h2, h3, h4, h5, h6{
        font-weight: normal;
    }

    h1{
        font-size: 2.625rem;
    }

    h2{
        font-size: 2.1rem;
    }

    section{
        margin-top: 10rem;
        margin-bottom: 2rem;
        padding-top: 6rem;
    }

    aside{
        margin-top: 2rem;
        margin-bottom: 16rem;
    }

    .container{
        padding: 2rem;
    }

    .mt-min{
        margin-top: 10rem;
    }
}