---
import BaseLayout from '../layouts/BaseLayout.astro'

const path = 'https://bhen.be/'; //Astro.site.pathname;
const description = 'Site de Benoit Henry, designer UI/UX et développeur front-end spécialisé dans la conception de design system et sites jamstack statiques éco-responsables.'
---
<BaseLayout title="Erreur 404" description={description}>

    <main id="main" class="container mt-min">

        <h1>La page recherchée n'existe pas/plus - erreur 404</h1>

        <p>Ah la boulette... J'ai certainement déplacé ou supprimé la page que vous recherchez.<br>
        Je ne peux vous faire que de plates excuses et vous proposer de choisir parmi ces deux options:</p>

        <ul>
            <li><a href={path}>Revenir à l'accueil</a></li>
            <li><a href={path + "blog/"}>Revenir au sommaire de mon blog</a></li>
        </ul>

    </main>

</BaseLayout>