---
import BaseLayout from '../layouts/BaseLayout.astro'

const path = 'https://bhen.be/'; //Astro.site.pathname;
const months = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
const data = await fetch(
    'https://graphql.datocms.com/',
    {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
            'Authorization': `Bearer 474e113b8e779f09724e19ed0ef15b`,
        },
        body: JSON.stringify({
            query: `{
                allPosts(locale: fr, orderBy: postDate_DESC) {
                    titre
                    slug
                    postDate
                    id
                }
            }`
        }),
    }
).then((response) => response.json());
const description = 'Blog de Benoit Henry, designer UI/UX et développeur front-end spécialisé dans la conception de design system et sites jamstack statiques éco-responsables.'
---
<BaseLayout title="Le blog" description={description}>

    <main id="main" class="container mt-min">

        <h1>Le blog</h1>

        <nav class="blog-summary">
            <ul>
            {data.data.allPosts.map((post, index) => {
                return (
                    <li key={index}>
                        <a href={path + "blog/" + post.slug}>
                            {post.titre}
                            <span>{months[(parseInt(post.postDate.slice(5, 7)) - 1)]} {' '} {post.postDate.slice(0, 4)}</span>
                        </a>
                    </li>
                )
            })}
            </ul>
        </nav>

    </main>

</BaseLayout>

<style>
.blog-summary ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-summary a{
    display: block;
    padding: 2rem;
    border-bottom: 1px solid #F8F7F5;
    text-decoration: none;
    color: hsl(53, 9%, 17%);
}

.blog-summary a span{
    display: block;
    font-size: 80%;
    color: hsl(53, 9%, 47%);
}

.blog-summary a:hover,
.blog-summary a:active,
.blog-summary a:focus{
    background-color: hsl(52, 100%, 50%);
    font-weight: bold;
}
</style>