---
import BaseLayout  from "layout:BaseLayout";
import GetAllPosts from "query:GetAllPosts";

const path = Astro.site.pathname;
const data = await GetAllPosts(import.meta.env.PUBLIC_DATO_API_TOKEN);
const months = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
const description = "Blog de Benoit Henry, designer UI/UX et développeur front-end spécialisé dans la conception de design system et sites jamstack statiques éco-responsables.";
---
<BaseLayout title="Le blog - Bhen" description={description}>

    <main id="main" class="container mt-min">

        <h1>Le blog</h1>

        <nav class="blog-summary">
            <ul>
            {data.map((post, index) => {
                return (
                    <li key={index}>
                        <a href={path + "blog/" + post.slug}>
                            {post.titre}
                            <span>{months[(parseInt(post.postDate.slice(5, 7)) - 1)]} {' '} {post.postDate.slice(0, 4)}</span>
                        </a>
                    </li>
                )
            })}
            </ul>
        </nav>

    </main>

</BaseLayout>

<style>
.blog-summary ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-summary a{
    display: block;
    padding: 2rem;
    border-bottom: 1px solid #F8F7F5;
    text-decoration: none;
    color: hsl(53, 9%, 17%);
}

.blog-summary a span{
    display: block;
    font-size: 80%;
    color: hsl(53, 9%, 47%);
}

.blog-summary a:hover,
.blog-summary a:active,
.blog-summary a:focus{
    background-color: hsl(52, 100%, 50%);
    font-weight: bold;
}
</style>