---
const token = '474e113b8e779f09724e19ed0ef15b';
const response = await fetch(
  'https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: `{
            page(filter: {id: {eq: "9620074"}}) {
                pageTitle(locale: fr)
                pageSlug(locale: fr)
                pageContentAlt(locale: fr) {
                    blocks {
                        ... on BlockClientRecord {
                            id
                            blockClientTitle
                            blockClientContent(markdown: true)
                        }
                        ... on BlockCtaRecord {
                            id
                            blockCtaAlign
                            blockCtaContent(markdown: true)
                            blockCtaLabel
                            blockCtaUrl
                        }
                        ... on BlockTextImageRecord {
                            id
                            blockTextImageTitle
                            blockTextImageContent(markdown: true)
                            blockTextImageAlign
                            blockTextImageImage {
                                url(imgixParams: {})
                                width
                                height
                                format
                                alt(locale: fr)
                            }
                        }
                        ... on BlockTextRecord {
                            id
                            blockTextTitle
                            blockTextContent(markdown: true)
                        }
                    }
                }
            }
        }`
    }),
  }
);
const data = await response.json();
const page = data.data.page;
---
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>test</title>
</head>
<body>
    <!-- Output the result to the page -->
    <h1>{page.pageTitle}</h1>
</body>
</html>
