---
import { Markdown } from 'astro/components';
const { title, content } = Astro.props;
---
<aside>

    <p><strong>{title}</strong></p>

    <div class="client-list">

        <Markdown content={content} />

    </div>

</aside>