---
import { Markdown } from 'astro/components';
const { title, content } = Astro.props;
---
<main id="main" class="block-text">

    <h1>{title}</h1>

    <div>
        
        <Markdown content={content} />

    </div>

</main>

<style>
.block-text{
    width: 100%;
    max-width: 80rem;
    padding: 1rem;
    margin: 3rem auto;
}

.block-text h1{
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 3rem;
    line-height: 1.3;
}

.block-text > div{
    max-width: 80ch;
    line-height: 1.5;
}

@media(min-width: 44rem){
    .block-text{
        padding: 2rem;
        margin: 20vh auto;
    }

    .block-text h1{
        font-size: 3rem;
        font-size: calc(3rem + .2vw);
    }
}
</style>