---
const path = 'https://bhen.be/'; //Astro.site.pathname;
---
<nav id="main-menu" class="navbar container" aria-label="Main menu">
                
    <div class="brand">
                        
        <a href={path}>
                            
            <svg width="155" height="25" xmlns="http://www.w3.org/2000/svg">
                <title>Benoit Henry, designer UX et développeur front-end</title>
                <g fill-rule="nonzero" fill="none">
                    <path d="M8.224 19.817c3.311 0 5.493-2.079 5.493-4.928 0-2.08-1.18-3.67-3.157-4.312.924-.796 1.412-1.874 1.412-3.183 0-2.618-2.028-4.518-5.083-4.518H.96v16.941h7.264ZM6.633 9.832H3.63V5.263h3.003c1.668 0 2.618.847 2.618 2.26 0 1.41-.95 2.31-2.618 2.31Zm1.36 7.598H3.63v-5.262h4.363c1.874 0 2.978 1.027 2.978 2.644 0 1.617-1.104 2.618-2.978 2.618Zm14.631 2.67c1.925 0 3.594-.668 5.031-2.028l-1.283-1.848c-1.13 1-2.362 1.489-3.67 1.489-2.157 0-3.774-1.258-4.108-3.312h9.395c.128-.59.205-1.155.205-1.694 0-3.285-2.49-5.775-5.827-5.775-3.567-.077-6.596 2.977-6.52 6.597 0 3.721 2.927 6.57 6.777 6.57Zm2.875-7.804h-6.853c.41-1.873 1.848-3.08 3.619-3.08 1.77 0 3.208 1.155 3.234 3.08Zm8.47 7.521v-7.52c0-1.72 1.207-2.927 2.875-2.927 1.643 0 2.747 1.181 2.747 2.926v7.521h2.695v-7.88c0-3.003-1.77-5.005-4.723-5.005-1.566 0-2.823.513-3.773 1.514V7.214h-2.516v12.603h2.696Zm24.617-6.314c.077-3.568-3.03-6.648-6.7-6.571-3.619-.052-6.725 2.952-6.648 6.57-.077 3.569 3.029 6.675 6.648 6.598 3.67.077 6.777-3.03 6.7-6.597Zm-6.7 4.107c-2.207 0-3.901-1.746-3.901-4.081 0-2.336 1.694-4.133 3.927-4.133 2.182 0 3.901 1.797 3.901 4.133 0 2.284-1.694 4.08-3.927 4.08Zm12.475 2.207V7.214h-2.695v12.603h2.695Zm9.164.283c.641 0 1.386-.103 2.233-.283v-2.284c-.745.077-1.284.128-1.669.128-1.642 0-2.49-.565-2.49-2.182V9.55h3.748V7.215H71.6V3.903h-2.721v3.311h-2.054V9.55h2.054v6.16c0 2.952 1.745 4.39 4.646 4.39Zm15.041-.283v-7.752h8.522v7.752h2.721V2.877h-2.72v6.75h-8.523v-6.75h-2.72v16.94h2.72Zm21.203.283c1.925 0 3.593-.668 5.03-2.028l-1.283-1.848c-1.13 1-2.361 1.489-3.67 1.489-2.157 0-3.774-1.258-4.107-3.312h9.394c.129-.59.206-1.155.206-1.694 0-3.285-2.49-5.775-5.827-5.775-3.568-.077-6.597 2.977-6.52 6.597 0 3.721 2.926 6.57 6.777 6.57Zm2.874-7.804h-6.853c.41-1.873 1.848-3.08 3.62-3.08 1.77 0 3.208 1.155 3.233 3.08Zm8.471 7.521v-7.52c0-1.72 1.206-2.927 2.875-2.927 1.643 0 2.746 1.181 2.746 2.926v7.521h2.696v-7.88c0-3.003-1.772-5.005-4.723-5.005-1.566 0-2.824.513-3.774 1.514V7.214h-2.515v12.603h2.695Zm14.76 0v-6.725c0-2.233 1.565-3.49 3.696-3.49h.821V7.213a4.158 4.158 0 0 0-1.027-.128 4.659 4.659 0 0 0-3.67 1.77V7.215h-2.516v12.603h2.695Zm7.828 4.903c2.156 0 3.568-1.078 4.62-3.465l6.135-14.04h-2.875l-3.721 9.163-3.62-9.164h-2.9l5.03 12.039-.513 1.18c-.616 1.412-1.488 1.848-2.746 1.848-.205 0-.693-.025-1.489-.102v2.284c.693.18 1.386.257 2.08.257Z" fill="#302F28"/>
                    <path d="M63.026 4.288c1.001 0 1.823-.77 1.823-1.771S64.027.72 63.026.72c-1.026 0-1.848.796-1.848 1.797 0 1 .822 1.77 1.848 1.77Z" fill="#FFD55C"/>
                </g>
            </svg>
        
        </a>
    
    </div>
                
    <ul>
        <li>
            <a href={path + "blog/"}>Blog</a>
        </li>
        <li>
            <a href="tel:0032474681649">+32 474 681 649</a>
        </li>
        <li>
            <a href="mail:contact@bhen.be">contact@bhen.be</a>
        </li>
    </ul>

</nav>

<style>
.navbar {
    position: relative;
}
.navbar .brand {
    text-align: center;
}
.navbar ul {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    text-align: center;
}
.navbar li > a {
    display: block;
    padding: 12px 24px;
    color: #302F28;
    text-decoration: none;
}
.navbar li > a:hover,
.navbar li > a:active,
.navbar li > a:focus {
    text-decoration: underline;
}
@media (min-width: 44rem) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar ul {
        flex-flow: row nowrap;
    }
    .navbar li {
        height: 100%;
        margin-right: 7px;
    }
}
</style>