---
const path = 'https://bhen.be/'; //Astro.site.pathname;
---
<nav id="main-menu" class="navbar container" aria-label="Main menu">
                
    <div class="brand">
                        
        <a href={path}>

            <svg width="64" height="24" viewBox="0 0 91 34" xmlns="http://www.w3.org/2000/svg">
                <title>Benoit Henry, designer UX et développeur front-end</title>
                <g fill="#292C2D" fill-rule="nonzero">
                    <path d="M21.6 23.12c0-5.96-4.08-10.36-9.6-10.36-2.52 0-4.48.8-5.92 2.36V3H.68v30h4.96v-2.44c1.4 1.88 3.64 2.92 6.36 2.92 5.52 0 9.6-4.4 9.6-10.36Zm-5.48-.04c0 3.32-2.2 5.48-5.12 5.48-2.72 0-5-1.88-5-5.44 0-3.52 2.24-5.48 5-5.48 2.88 0 5.12 2.2 5.12 5.44ZM44.04 20.72c0-4.8-2.88-7.96-7.36-7.96-2.2 0-4.12.8-5.44 2.12V0h-5.4v33h5.4V21.48c0-2.28 1.56-3.84 3.76-3.84 2.2 0 3.68 1.56 3.68 3.84V33h5.36V20.72ZM67.44 24.92c.24-1 .36-2 .36-2.96 0-5.16-3.84-9.2-9.32-9.2-5.72-.12-10.48 4.64-10.36 10.36-.12 5.72 4.72 10.48 10.84 10.36 2.92 0 5.56-1 7.92-2.96l-2.24-3.68c-1.72 1.32-3.56 2-5.52 2-2.88 0-4.92-1.4-5.56-3.92h13.88Zm-13.88-3.8c.6-2.44 2.44-4 4.72-4 2.36 0 4.24 1.56 4.28 4h-9ZM90.2 20.72c0-4.8-2.84-7.96-7.44-7.96-2.36 0-4.4.84-5.8 2.24v-1.8H72V33h5.4V21.44c0-2.28 1.56-3.84 3.76-3.84 2.2 0 3.68 1.56 3.68 3.84V33h5.36V20.72Z"/>
                </g>
            </svg>
        
        </a>
    
    </div>
                
    <ul>
        <li>
            <a href={path + "blog/"}>Blog</a>
        </li>
        <li>
            <a href="tel:0032474681649">+32 474 681 649</a>
        </li>
        <li>
            <a href="mailto:contact@bhen.be">contact@bhen.be</a>
        </li>
    </ul>

</nav>

<style>
.navbar {
    position: relative;
}
.navbar .brand {
    text-align: center;
}
.navbar ul {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    text-align: center;
}
.navbar li > a {
    display: block;
    padding: 12px 24px;
    color: #302F28;
    text-decoration: none;
}
.navbar li > a:hover,
.navbar li > a:active,
.navbar li > a:focus {
    text-decoration: underline;
}
@media (min-width: 44rem) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar ul {
        flex-flow: row nowrap;
    }
    .navbar li {
        height: 100%;
        margin-right: 7px;
    }
}
</style>