---

---
<a href="#main" id="skip-link">Accéder au contenu principal</a>

<style>
#skip-link{
    position:absolute;
    top:0;
    right:100%;
    z-index: 100;
}

#skip-link:focus{
    right:auto
}
</style>