---
import SkipToContent from "component:SkipToContent";
import SiteHeader    from "component:SiteHeader";
import SiteFooter    from "component:SiteFooter";

const { title, description = '' } = Astro.props;
---
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>

        {description !== '' ? <meta name="description" content={description} /> : null}

        <link rel="stylesheet" href={Astro.resolve('../styles/reset.css')}>
        <link rel="stylesheet" href={Astro.resolve('../styles/main.css')}>
    </head>
    <body>
        <SkipToContent />

        <div class="site">
 
            <SiteHeader />

            <slot />

        </div>

        <SiteFooter />

    </body>
</html>
