---
const { title, description = '' } = Astro.props;
const path = 'https://bhen.be/'; //Astro.site.pathname;

import SkipToContent from "../components/SkipToContent.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
---
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>

        {description !== '' ? <meta name="description" content={description} /> : null}

        <link rel="stylesheet" href={Astro.resolve('../styles/reset.css')}>
        <link rel="stylesheet" href={Astro.resolve('../styles/main.css')}>
    </head>
    <body>
        <SkipToContent />

        <div class="site">
 
            <SiteHeader />

            <slot />

        </div>

        <SiteFooter />

    </body>
</html>
